body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 50%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px gray;
}

textarea {
    width: 90%;
    height: 120px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-size: 22px;
}
